.block-image-overflow {
    width: 100%;
    overflow: hidden;

    .max-width {
        max-width: 68%;
        margin: 0 auto;

        .logo {
            float: right;

            .logo-inner {
                position: fixed;
                top: 10%;
                z-index: 999;
                line-height: 40px;
                min-width: 100px;
                transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);

                a, a:after, a:visited {
                    text-decoration: none;
                    cursor: pointer;
                    color: #000000;
                }

                .logo-text {
                    animation: fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
                    animation-fill-mode: backwards;
                    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
                    color: #ffffff;
                    font-weight: 500;

                    &:hover {
                        margin-left: -40px;
                        transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);

                        &::after {
                            content: "iftikhar.yk";
                            white-space: nowrap;
                            color: #55efc4;
                        }
                    }

                    &::after {
                        font-size: 20px;
                        content: "iftikhar.";
                    }
                }
            }
        }

        .top-bottom-margin {
            margin: 35vh 0 50vh 0;

            .hide-text-block {
                position: relative;
                display: block;
                overflow: hidden;

                h2 {
                    animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
                    animation-fill-mode: backwards;
                    color: #ffffff;
                    line-height: 140%;
                    font-size: 100px;
                    font-weight: bold;
                }
            }

            .work-block {
                position: relative;

                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: #000000;

                    &:hover {
                        .work-image {
                            display: block;
                        }
                    }

                    .work-inner {
                        margin: 12vh 0;
                        transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
                        position: relative;
                        display: block;
                        overflow: hidden;
                        padding: 0px 30px;

                        &:hover {
                            margin-left: 20px;
                            transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1)
                        }

                        h4 {
                            color: #ffffff;
                            font-weight: 500;
                            font-size: 2.222em;
                            margin-bottom: 10px;
                        }

                        p {
                            font-size: 16px;
                            font-weight: normal;
                            color: #55efc4;
                        }
                    }

                    .work-image {
                        position: absolute;
                        width: 70%;
                        right: 0;
                        top: 0;
                        display: none;
                        // transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
                        animation-delay: .2s;
                        animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
                        animation-fill-mode: backwards;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .block-image-overflow {
        .max-width {
            max-width: 86%;

            .logo {
                .logo-inner {
                    top: 5%;
                    left: 75%;
                }
            }

            .top-bottom-margin {
                .hide-text-block {
                    h2 {
                        font-size: 52px;
                    }
                }

            }
        }
    }
}

@keyframes fadelogo {
    0% {
        opacity: 0;
        transform: translateY(10vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(30vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}