<div class="header-bar">
  <section>
    <div class="categories">
      <div class="categories-inner" (click)="toggleCategories()">
        <span class="cat-title-name">
          <span>Browse By Categories</span>
        </span>
        <span class="cat-title-icon">
          <i class="fas fa-angle-down"></i>
        </span>
      </div>
      <ul class="cat-list" [ngClass]="status ? 'show-cat' : 'hide-cat'">
        <li>
          <div class="content">
            <div class="all-cat">
              <span class="cat-list-icon">
                <i class="fas fa-th"></i>
              </span>
              <span class="cat-list-name">
                <span>All Categories</span>
              </span>
            </div>
            <div class="cat-option">
              <div class="nested-option">
                <div class="nested-option-left">
                  <span class="cat-list-icon">
                    <i class="fas fa-mobile"></i>
                  </span>
                  <a class="cat-link">Mobiles</a>
                </div>
                <div class="nested-option-right">
                  <span class="nested-option-icon">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </div>
              </div>
              <div class="sub-cat sub-cat-open">
                <div class="option-inner">
                  <div class="opt">
                    <a class="opt-link">
                      <span>Tablets</span>
                    </a>
                    <a class="opt-link">
                      <span>Accessories</span>
                    </a>
                    <a class="opt-link">
                      <span>Mobile Phones</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cat-option">
              <div class="nested-option">
                <div class="nested-option-left">
                  <span class="cat-list-icon">
                    <i class="fas fa-car"></i>
                  </span>
                  <a class="cat-link">Vehicles</a>
                </div>
                <div class="nested-option-right">
                  <span class="nested-option-icon">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </div>
              </div>
              <div class="sub-cat sub-cat-open">
                <div class="option-inner">
                  <div class="opt">
                    <a class="opt-link">
                      <span>Cars</span>
                    </a>
                    <a class="opt-link">
                      <span>Cars Accessories</span>
                    </a>
                    <a class="opt-link">
                      <span>Spare Parts</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cat-option">
              <div class="nested-option">
                <div class="nested-option-left">
                  <span class="cat-list-icon">
                    <i class="fas fa-mobile"></i>
                  </span>
                  <a class="cat-link">Mobiles</a>
                </div>
                <div class="nested-option-right">
                  <span class="nested-option-icon">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </div>
              </div>
              <div class="sub-cat sub-cat-open">
                <div class="option-inner">
                  <div class="opt">
                    <a class="opt-link">
                      <span>Tablets</span>
                    </a>
                    <a class="opt-link">
                      <span>Accessories</span>
                    </a>
                    <a class="opt-link">
                      <span>Mobile Phones</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cat-option">
              <div class="nested-option">
                <div class="nested-option-left">
                  <span class="cat-list-icon">
                    <i class="fas fa-car"></i>
                  </span>
                  <a class="cat-link">Vehicles</a>
                </div>
                <div class="nested-option-right">
                  <span class="nested-option-icon">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </div>
              </div>
              <div class="sub-cat sub-cat-open">
                <div class="option-inner">
                  <div class="opt">
                    <a class="opt-link">
                      <span>Cars</span>
                    </a>
                    <a class="opt-link">
                      <span>Cars Accessories</span>
                    </a>
                    <a class="opt-link">
                      <span>Spare Parts</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

<main>
  <div class="container">
    <section>
      <div class="home-banner">
        <div class="banner-image"></div>
      </div>
      <div class="main-home-content">
        <div class="popular-categories">
          <div class="content-inner">
            <div class="heading">
              <div class="left">
                <div class="heading-big">
                  <span>Popular Categories</span>
                </div>
                <div class="heading-small">
                  <span>Browse through some of our most popular categories.</span>
                </div>
              </div>
              <div class="right">
                <span>View All</span>
                <span class="view-all-icon">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </div>
            </div>
            <div class="cat-boxes">
              <ul class="cat-box-container">
                <!-- Mobiles -->
                <li class="cat-box">
                  <div class="cat-box-header">
                    <a class="cat-name-link">
                      <span class="cat-name-icon">
                        <i class="fas fa-mobile"></i>
                      </span>
                      <span class="cat-name">Mobiles</span>
                    </a>
                  </div>
                  <div class="cat-box-body">
                    <ul class="cat-box-body-list-container">
                      <li class="cat-box-body-list">
                        <a>Tablets</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Tablets</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Tablets</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Vehicles -->
                <li class="cat-box">
                  <div class="cat-box-header">
                    <a class="cat-name-link">
                      <span class="cat-name-icon">
                        <i class="fas fa-car"></i>
                      </span>
                      <span class="cat-name">Vehicles</span>
                    </a>
                  </div>
                  <div class="cat-box-body">
                    <ul class="cat-box-body-list-container">
                      <li class="cat-box-body-list">
                        <a>Cars</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Cars Accessories</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Spare Parts</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Buses, Vans & Trucks</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Property For Sale -->
                <li class="cat-box">
                  <div class="cat-box-header">
                    <a class="cat-name-link">
                      <span class="cat-name-icon">
                        <i class="fas fa-sign"></i>
                      </span>
                      <span class="cat-name">Property For Sale</span>
                    </a>
                  </div>
                  <div class="cat-box-body">
                    <ul class="cat-box-body-list-container">
                      <li class="cat-box-body-list">
                        <a>Land & Plots</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Houses</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Apartments & Flats</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Shops - Offices - Commercials Space</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Property For Rent -->
                <li class="cat-box">
                  <div class="cat-box-header">
                    <a class="cat-name-link">
                      <span class="cat-name-icon">
                        <i class="fas fa-sign"></i>
                      </span>
                      <span class="cat-name">Property For Rent</span>
                    </a>
                  </div>
                  <div class="cat-box-body">
                    <ul class="cat-box-body-list-container">
                      <li class="cat-box-body-list">
                        <a>Houses</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Apartments & Flats</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Portions & Floors</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Shops - Offices - Commercial Space</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Electronics -->
                <li class="cat-box">
                  <div class="cat-box-header">
                    <a class="cat-name-link">
                      <span class="cat-name-icon">
                        <i class="fas fa-tv"></i>
                      </span>
                      <span class="cat-name">Electronics & Home Appliances</span>
                    </a>
                  </div>
                  <div class="cat-box-body">
                    <ul class="cat-box-body-list-container">
                      <li class="cat-box-body-list">
                        <a>Computers & Accessories</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>TV - Video - Audio</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Camera & Accessories</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Games & Entertainment</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Bikes -->
                <li class="cat-box">
                  <div class="cat-box-header">
                    <a class="cat-name-link">
                      <span class="cat-name-icon">
                        <i class="fas fa-motorcycle"></i>
                      </span>
                      <span class="cat-name">Bikes</span>
                    </a>
                  </div>
                  <div class="cat-box-body">
                    <ul class="cat-box-body-list-container">
                      <li class="cat-box-body-list">
                        <a>Motorcycle</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Spare Parts</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Bicycles</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>ATV & Quads</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Business -->
                <li class="cat-box">
                  <div class="cat-box-header">
                    <a class="cat-name-link">
                      <span class="cat-name-icon">
                        <i class="fas fa-industry"></i>
                      </span>
                      <span class="cat-name">Business, Industiral & Agriculture</span>
                    </a>
                  </div>
                  <div class="cat-box-body">
                    <ul class="cat-box-body-list-container">
                      <li class="cat-box-body-list">
                        <a>Business for Sale</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Food & Resturants</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Trade & Industiral</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Construction & Heavy Machinery</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Services -->
                <li class="cat-box">
                  <div class="cat-box-header">
                    <a class="cat-name-link">
                      <span class="cat-name-icon">
                        <i class="fas fa-key"></i>
                      </span>
                      <span class="cat-name">Services</span>
                    </a>
                  </div>
                  <div class="cat-box-body">
                    <ul class="cat-box-body-list-container">
                      <li class="cat-box-body-list">
                        <a>Education & Classes</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Travel & Visa</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Car Rental</a>
                      </li>
                      <li class="cat-box-body-list">
                        <a>Drivers & Taxi</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="top-picks">
          <section class="top-picks-container">
            <div class="heading">
              <span>Top picks for you</span>
            </div>
            <div class="top-picks-content">
              <ul class="top-picks-box-container">
                <li class="top-picks-box">
                  <a class="top-picks-box-link">
                    <figure>
                      <img src="/assets/sample.jpg">
                    </figure>
                    <div class="top-picks-body">
                      <div class="featured-label">
                        <label>
                          <span>Featured</span>
                        </label>
                      </div>
                      <div class="item-price">Rs 100,000</div>
                      <div class="item-title">Shaheen Town Phase 4 Islamabad</div>
                      <div class="item-location">
                        <div class="item-place">Lehtarar Road, Islamabad</div>
                        <div class="item-posted">
                          <div class="item-date">Feb 19</div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <span class="fav-heart">
                    <i class="far fa-heart"></i>
                  </span>
                </li>
              </ul>
            </div>
            <div class="load-more">
              <button class="load-more-button">
                <span>Load More</span>
              </button>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</main>