<footer>
  <div class="top-footer">
    <div class="top-footer-in">
      <section class="footer-column">
        Popular Categories
        <ul>
          <li><a class="link">Cars</a></li>
          <li><a class="link">Flats for rent</a></li>
          <li><a class="link">Jobs</a></li>
          <li><a class="link">Mobile Phones</a></li>
        </ul>
      </section>
      <section class="footer-column">
        Popular Searches
        <ul>
          <li><a class="link">Bikes</a></li>
          <li><a class="link">Watches</a></li>
          <li><a class="link">Books</a></li>
          <li><a class="link">Dogs</a></li>
        </ul>
      </section>
      <section class="footer-column">
        About Us
        <ul>
          <li><a class="link">About OLX Group</a></li>
          <li><a class="link">OLX Blog</a></li>
          <li><a class="link">Contact Us</a></li>
          <li><a class="link">Business Packages</a></li>
        </ul>
      </section>
      <section class="footer-column">
        Olx
        <ul>
          <li><a class="link">Help</a></li>
          <li><a class="link">Sitemap</a></li>
        </ul>
      </section>
      <section class="footer-column follow">
        <div class="follow-us">
          <span>Follow Us</span>
          <div class="follow-icons">
            <a class="icon"><i class="fab fa-facebook-f"></i></a>
            <a class="icon"><i class="fab fa-twitter"></i></a>
            <a class="icon"><i class="fab fa-youtube"></i></a>
            <a class="icon"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="store">
          <a class="store-image">
            <img src="/assets/playstore.png">
          </a>
          <a class="store-image">
            <img src="/assets/appstore.png">
          </a>
        </div>
      </section>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="bottom-footer-in">
      <section class="fo copyright">
        <span>Free Classifieds in Pakistan</span>
        &copy; 2006 - 2019 OLX
      </section>
      <section class="fo other-countries">
        <span>Other Countries</span>
        <a class="link">Kenya</a> -
        <a class="link">Kenya</a> -
        <a class="link">Nigeria</a> -
        <a class="link">India</a> -
        <a class="link">South Africa</a>
      </section>
    </div>
  </div>
</footer>