footer {
    z-index: 8;
    width: 100%;
    min-height: 48px;
    box-sizing: border-box;
    display: block;

    .top-footer {
        display: flex;
        background: #ebeeef;
        padding: 16px 0;
        border-top: 1px solid rgba(0, 47 , 52,.2);
        font-size: 14px;
        line-height: 20px;

        .top-footer-in {
            margin: auto;
            width: 100%;
            max-width: 1200px;
            display: flex;
            justify-content: space-between;

            section.footer-column {
                font-weight: 600;
                text-transform: uppercase;
                display: block;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    margin-top: 8px;

                    li {

                        a.link {
                            font-weight: 400;
                            text-transform: none;
                            text-decoration: none;
                            cursor: pointer;
                            font-size: 12px;
                            color: rgba(0, 47, 52, .64);
                        }
                    }
                }
            }

            section.follow {
                font-weight: 600;
                text-transform: uppercase;
                display: block;

                .follow-us {

                    a {
                        font-weight: 400;
                        text-transform: none;
                        text-decoration: none;
                        cursor: pointer;
                        font-size: 10px;
                        color: rgba(0, 47, 52, 0.64);
                        border-radius: 50%;
                        border: 1px solid rgba(0, 47, 52, 0.64);
                        padding: 2px 6px;
                        margin-right: 3px;

                        i {
                            padding-right: 8px;
                        }
                    }
                }

                .store {
                    padding-top: 30px;

                    .store-image {
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    .bottom-footer {
        background: #002f34;
        color: 12px;
        line-height: 18px;
        color: #fff;
        padding: 16px 0;

        .bottom-footer-in {
            margin: auto;
            width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            .fo {
                font-size: 12px;
                display: block;
                line-height: 18px;
                color: #fff;

                span {
                    font-weight: 600;
                    padding-right: 8px;
                }
            }
        }
    }
}