/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

body {
    text-align: left;
    direction: ltr;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.15;
}