body {
    background-size: cover;
    transition: all .5s ease;
}

#box {
    background: rgba(0, 0, 0, 0.6);
    height: 300px;
    width: 650px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
    font-size: 65px;
    padding-top: 100px;
    color: #fff;
}